vwm/regAgency.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="AGENCIES">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="AGENCY" type="AGENCYINFO" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

<xs:complexType name="AGENCYINFO">
 <xs:sequence>
    <xs:element name="NAME" type="xs:string" default=""/>
    <xs:element name="ACRONYM" type="xs:string" default=""/>
    <xs:element name="AGENCY_CODE" type="xs:string" default=""/>
 </xs:sequence>
</xs:complexType>

